<head>
<meta name="viewport" content="width=device-width, height=device-height" />
<title>Planning Tool Abano</title>

<script src=""></script>
</head>
<body>
	<div class="container">
		<header>
			<a href="/"> <img src="/assets/images/abano_Logo.png" alt="">
			</a>
			<h1>Planning Tool</h1>
			<nav>
				<a href="#" id="menu_icon"><i class="fa fa-bars"
					aria-hidden="true"></i><span>home</span></a>
				<ul>
					<li><a routerLink="">Home</a></li>
					<li><a routerLink="/adminOverview">back</a></li>
					<li><a routerLink="../">Overview</a></li>
					<li><a class="active">Add Customer</a></li>
				</ul>
			</nav>
			<div class="fix"></div>
		</header>

		<main> <!-- content here --> <br>
		<h2>Fill in the form below to add a new customer in system</h2>
		<br>
		<form id="addCustomersFrom" [formGroup]="addCustomersFrom"
			#formDir="ngForm">
			<fieldset>
				<legend>Add customer</legend>
				<ul>
					<li class="form-group"><label for="customerName">customer
							name:</label><br> <input [(ngModel)]="customer.customerName"
						type="text" name="customerName" id="customerName"
						placeholder="customerName" formControlName="customerName" required>
						<div
							*ngIf="customerName.invalid && (customerName.dirty || customerName.touched)"
							class="alert alert-danger">
							<span style="color: red" *ngIf="customerName.errors.required">Customers
								name is required</span>
						</div></li>

					<li><br></li>

					<li class="form-group"><label for="projectsOfCustomer">Project
							Names: </label> <select [(ngModel)]="customer.projectsOfCustomer"
						id="projectsOfCustomer" formControlName="projectsOfCustomer" size="3"
						multiple>
							<option value="" disabled selected>select a project</option>
							<option *ngFor="let item of projectList.allProjects"
								[ngValue]="item">{{item.projectName}}</option>
					</select></li>

					<li><br></li>

					<li class="form-group"><input name="addCustomer"
						id="addCustomer" type="submit" placeholder="Add new Customer"
						[disabled]="addCustomersFrom.invalid" (click)="addCustomer()" onClick="history.go(0)">
						<div class="fix"></div></li>

				</ul>
			</fieldset>
		</form>



		</main>

		<footer>
			<ul id="address">
				<li>Veltkant 33a</li>
				<li>2550 Kontich</li>
				<li>Belgium</li>
				<li>Tel: +32 (0)475 27 43 57</li>
				<li>&nbsp;</li>
				<li>Copyright &copy; <script>
					document.write(new Date().getFullYear());
				</script> - Giel Blockx &#124; <a routerLink="../adminlogin"> Admin Login</a>
				</li>
			</ul>
		</footer>
	</div>
</body>