<head>
<meta name="viewport" content="width=device-width, height=device-height" />
<title>Planning Tool Abano</title>

<link
	href="https://unpkg.com/bootstrap@4.1.1/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.css"
	rel="stylesheet">
<link
	href="https://unpkg.com/angular-calendar@0.25.2/css/angular-calendar.css"
	rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
	<div class="container">
		<header>
			<div>
				<a href="/"> <img src="/assets/images/abano_Logo.png" alt="">
				</a>
			</div>
			<h1>Planning Tool</h1>
			<nav>
				<a href="#" id="menu_icon"><i class="fa fa-bars"
					aria-hidden="true"></i><span>home</span></a>
				<ul>
					<li><a routerlink="">Home</a></li>
					<li><a class="active">Overview</a></li>
				</ul>
			</nav>
			<div class="fix"></div>
		</header>

		<main> <!-- content here --> <br>

		<ng-template #modalContent let-close="close">
		<div class="modal-header">
			<h5 class="modal-title">Event action occurred</h5>
			<button type="button" class="close" (click)="close()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div>
				Action:
				<pre>{{ modalData?.action }}</pre>
			</div>
			<!-- <div>
				Event:
				<pre>{{ modalData?.event | json }}</pre>
			</div> -->
			<div>
				<fieldset>
					<legend>Event:</legend>
					<ul>
						<li class="form-group"><label for="title">Title:</label> <input
							[(ngModel)]="modalData.event.title" type="text" name="title"
							placeholder="{{ modalData.event.title }}"></li>
						<li class="form-group"><label for="start">Start Date:
						</label> <label for="start"> {{ modalData.event.start | date :
								"dd-MM-yyyy" }}</label> <input [(ngModel)]="modalData.event.start"
							type="date" name="start"></li>
						<li class="form-group"><label for="end">End Date: </label> <label
							for="end"> {{ modalData.event.end | date : "dd-MM-yyyy"
								}}</label> <input [(ngModel)]="modalData.event.end" type="date"
							name="end"></li>
						<li class="form-group"><label for="projectName">Project
								Name: </label> <select [(ngModel)]="modalData.event.meta.projectList"
							id="projectList">
								<option value="" disabled selected>>select a project</option>
								<option *ngFor="let item of projectList.allProjects"
									[value]="item.projectName">{{item.projectName}}</option>
						</select></li>
					</ul>
				</fieldset>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-secondary"
				(click)="close()">OK</button>
		</div>
		</ng-template> <mwl-demo-utils-calendar-header [(view)]="view"
			[(viewDate)]="viewDate"> </mwl-demo-utils-calendar-header> <br>
		<div [ngSwitch]="view">
			<mwl-calendar-month-view *ngSwitchCase="'month'"
				[viewDate]="viewDate" [events]="events" [refresh]="refresh"
				[activeDayIsOpen]="activeDayIsOpen"
				(dayClicked)="dayClicked($event.day)"
				(eventClicked)="handleEvent('Clicked', $event.event)"
				(eventTimesChanged)="eventTimesChanged($event)">
			</mwl-calendar-month-view>
			<mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate"
				[events]="events" [refresh]="refresh"
				(eventClicked)="handleEvent('Clicked', $event.event)"
				(eventTimesChanged)="eventTimesChanged($event)">
			</mwl-calendar-week-view>
			<mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate"
				[events]="events" [refresh]="refresh"
				(eventClicked)="handleEvent('Clicked', $event.event)"
				(eventTimesChanged)="eventTimesChanged($event)">
			</mwl-calendar-day-view>
		</div>

		<br>
		<br>
		<br>

		<h3>
			Edit events
			<button class="btn btn-primary pull-right" (click)="addEvent()">
				Add new</button>

		</h3>
		<div class="clearfix"></div>

		<table class="table table-bordered">

			<thead>
				<tr>
					<th>Title</th>
					<th>Primary color</th>
					<!-- 					<th>Secondary color</th> -->
					<th>Starts at</th>
					<th>Ends at</th>
					<th>Project Name</th>
					<th>Remove</th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor="let event of events; let index = index">
					<td><input type="text" class="form-control"
						[(ngModel)]="event.title" (keyup)="refresh.next()"></td>
					<td><input type="color" [(ngModel)]="event.color.primary"
						(change)="refresh.next()"></td>
					<!-- <td><input type="color" [(ngModel)]="event.color.secondary"
						(change)="refresh.next()"></td> -->
					<td><mwl-demo-utils-date-time-picker [(ngModel)]="event.start"
							(ngModelChange)="refresh.next()" placeholder="Not set">
						</mwl-demo-utils-date-time-picker></td>
					<td><mwl-demo-utils-date-time-picker [(ngModel)]="event.end"
							(ngModelChange)="refresh.next()" placeholder="Not set">
						</mwl-demo-utils-date-time-picker></td>
					<td><select [(ngModel)]="event.meta.projectList"
						id="projectsArray">
							<option value="" disabled selected>>select a project</option>
							<option *ngFor="let item of projectList.allProjects"
								[value]="item.projectName">{{item.projectName}}</option>
					</select></td>
					<td>
						<button class="btn btn-danger"
							(click)="events.splice(index, 1); refresh.next()">
							Delete</button>
					</td>
				</tr>
			</tbody>

		</table>

		</main>

		<footer>
			<ul>
				<li>Veltkant 33a</li>
				<li>2550 Kontich</li>
				<li>Belgium</li>
				<li>Tel: +32 (0)475 27 43 57</li>
				<li>&nbsp;</li>
				<li>Copyright &copy; <script>
					document.write(new Date().getFullYear());
				</script> - Giel Blockx &#124; <a routerLink="../adminlogin"> Admin Login</a>
				</li>
			</ul>
		</footer>
	</div>
</body>
