<head>
<meta name="viewport" content="width=device-width, height=device-height" />
<title>Planning Tool Abano</title>

<script src=""></script>
</head>
<body>
	<div class="container">
		<header>
			<a href="/"> <img src="/assets/images/abano_Logo.png" alt="">
			</a>
			<h1>Planning Tool</h1>
			<nav>
				<a href="#" id="menu_icon"><i class="fa fa-bars"
					aria-hidden="true"></i><span>home</span></a>
				<ul>
					<li><a routerLink="">Home</a></li>
					<li><a routerLink="/adminOverview">back</a></li>
					<li><a routerLink="../">Overview</a></li>
					<li><a routerLink="../adminAddProject">Add Project</a></li>
					<li><a class="active">Edit Project</a></li>

				</ul>
			</nav>
			<div class="fix"></div>
		</header>

		<main> <!-- content here --> <br>
		<h2>Please select a project to edited it</h2>
		<br>

		<form id="selectProjectForm" [formGroup]="selectProjectForm"
			#formDir="ngForm">
			<fieldset>
				<legend>select project</legend>
				<ul>
					<li class="form-group"><label for="project"> <br>
							select a project below:
					</label> <select [(ngModel)]="project" id="projects"
						formControlName="projects" autofocus="autofocus">
							<option disabled="disabled">projects:</option>
							<option *ngFor="let item of projectList.allProjects"
								[ngValue]="item">{{item.projectName}}</option>
					</select></li>

				</ul>
			</fieldset>
		</form>

		<form id="editProjectForm" [formGroup]="editProjectForm"
			#formDir="ngForm">
			<fieldset [hidden]="!project.id">
				<legend>Add projects</legend>
				<ul>
					<li class="form-group"><label for="projectName">Project
							name:</label><br> <input [(ngModel)]="project.projectName"
						type="text" name="projectName" id="projectName"
						placeholder="projectName" formControlName="projectName" required
						[value]="project.projectName">
						<div
							*ngIf="projectName.invalid && (projectName.dirty || projectName.touched)"
							class="alert alert-danger">
							<span style="color: red" *ngIf="projectName.errors.required">project
								name is required</span>
						</div></li>

					<li><br></li>

					<li class="form-group"><label for="ownerOfProject">customers
							Names: </label>
							 <select [(ngModel)]="project.ownerOfProject"
						id="ownerOfProject" formControlName="ownerOfProject">
							<option *ngIf="project.ownerOfProject" selected [ngValue]="project.ownerOfProject">{{project.ownerOfProject.customerName}}</option>
							<option value="" disabled>select the owner of the
								project:</option>
							<option *ngFor="let item of customersList.allCustomers"
								[ngValue]="item">{{item.customerName}}</option>
					</select></li>


					<li><br></li>

					<li class="form-group"><label for="usersOnProject">user
							Names: </label><label><span
							*ngFor="let item of project.usersOnProject">{{item.firstName}},
						</span></label> <select [(ngModel)]="project.usersOnProject" id="usersOnProject"
						formControlName="usersOnProject" size="3" multiple>
							<option value="" disabled selected>select user for this
								project:</option>
							<option *ngFor="let item of allUsersList.allUsers" [value]="item">{{item.firstName}}</option>
					</select></li>

					<li><br></li>

					<li class="form-group"><label for="startDate">start
							date:</label><br> <input [(ngModel)]="project.startDate" type="date"
						name="startDate" id="startDate" placeholder="startDate"
						formControlName="startDate" required [value]="project.startDate">
						<div
							*ngIf="startDate.invalid && (startDate.dirty || startDate.touched)"
							class="alert alert-danger">
							<span style="color: red" *ngIf="startDate.errors.required">Start
								date is required</span>
						</div></li>

					<li><br></li>

					<li class="form-group"><label for="endDate">end date:</label><br>
						<input [(ngModel)]="project.endDate" type="date" name="endDate"
						id="endDate" placeholder="endDate" formControlName="endDate"
						[value]="project.endDate"></li>

					<li><br></li>

					<li class="form-group"><input name="editProject"
						id="editProject" type="submit" placeholder="edit project"
						[disabled]="editProjectForm.invalid" (click)="saveEditedProject()">
						<div class="fix"></div></li>

				</ul>
			</fieldset>
		</form>



		</main>

		<footer>
			<ul id="address">
				<li>Veltkant 33a</li>
				<li>2550 Kontich</li>
				<li>Belgium</li>
				<li>Tel: +32 (0)475 27 43 57</li>
				<li>&nbsp;</li>
				<li>Copyright &copy; <script>
					document.write(new Date().getFullYear());
				</script> - Giel Blockx &#124; <a routerLink="../adminlogin"> Admin Login</a>
				</li>
			</ul>
		</footer>
	</div>
</body>