<head>
<meta name="viewport" content="width=device-width, height=device-height" />
<title>Planning Tool Abano</title>

</head>

<body>
	<div class="container">
		<header>
			<div>
				<a routerLink=""> <img src="/assets/images/abano_Logo.png"
					alt="">
				</a>
			</div>
			<h1>Planning Tool</h1>
			<nav>
				<a routerLink="#" id="menu_icon"><i class="fa fa-bars"
					aria-hidden="true"></i><span>home</span></a>
				<ul>
					<li><a routerLink="" class="active">Home</a></li>
					<li><a routerLink="login">Log in</a></li>


				</ul>
			</nav>
			<div class="fix"></div>
		</header>

		<main> <!-- content here --> <br>
		<h1>Welcome to this planning tool</h1>
		<br>
		<hr>
		<br>
		<p>Welcome to this planning tool.
		<hr>
		This page is a work in progress <br>
		<strong>WIP</strong> </main>

		<footer>
			<ul>
				<li>Veltkant 33a</li>
				<li>2550 Kontich</li>
				<li>Belgium</li>
				<li>Tel: +32 (0)475 27 43 57</li>
				<li>&nbsp;</li>
				<li>Copyright &copy; <script>
					document.write(new Date().getFullYear());
				</script> - Giel Blockx &#124; <a routerLink="adminlogin"> Admin
						Login</a>
				</li>
			</ul>
		</footer>
	</div>
</body>