<head>
<meta name="viewport" content="width=device-width, height=device-height" />
<title>Planning Tool Abano</title>

<script src=""></script>
</head>
<body>
	<div class="container">
		<header>
			<a href="/"> <img src="/assets/images/abano_Logo.png" alt="">
			</a>
			<h1>Planning Tool</h1>
			<nav>
				<a href="#" id="menu_icon"><i class="fa fa-bars"
					aria-hidden="true"></i><span>home</span></a>
				<ul>
					<li><a routerLink="">Home</a></li>
					<li><a routerLink="/adminOverview">back</a></li>
					<li><a routerLink="../">Overview</a></li>
					<li><a routerLink="../adminAddCustomer">Add Customer</a></li>
					<li><a class="active">Edit Customer</a></li>
				</ul>
			</nav>
			<div class="fix"></div>
		</header>

		<main> <!-- content here --> <br>
		<h2>Please select a customer below to edit it</h2>
		<br>

		<form id="selectCustomerForm" [formGroup]="selectCustomerForm"
			#formDir="ngForm">
			<fieldset>
				<legend>select project</legend>
				<ul>
					<li class="form-group"><label for="customer"> <br>
							select a customer below:
					</label> <select [(ngModel)]="customer" id="customer"
						formControlName="customer" autofocus="autofocus">
							<option disabled="disabled">customers:</option>
							<option *ngFor="let item of customersList.allCustomers"
								[ngValue]="item">{{item.customerName}}</option>
					</select></li>

				</ul>
			</fieldset>
		</form>

		<form id="editCustomerFrom" [formGroup]="editCustomerFrom"
			#formDir="ngForm">
			<fieldset [hidden]="!customer.id">
				<legend>Add customer</legend>
				<ul>
					<li class="form-group"><label for="customerName">customer
							name:</label><br> <input [(ngModel)]="customer.customerName"
						type="text" name="customerName" id="customerName"
						placeholder="customerName" formControlName="customerName" required>
						<div
							*ngIf="customerName.invalid && (customerName.dirty || customerName.touched)"
							class="alert alert-danger">
							<span style="color: red" *ngIf="customerName.errors.required">Customers
								name is required</span>
						</div></li>

					<li><br></li>

					<li class="form-group"><label for="projectsOfCustomer">Project
							Names: </label><label><span
							*ngFor="let item of customer.projectsOfCustomer">{{item.projectName}},
						</span></label> <select [(ngModel)]="customer.projectsOfCustomer"
						id="projectsOfCustomer" formControlName="projectsOfCustomer"
						size="3" multiple>
							<option value="" disabled selected>select a project</option>
							<option *ngFor="let item of projectList.allProjects"
								[ngValue]="item">{{item.projectName}}</option>
					</select></li>

					<li><br></li>

					<li class="form-group"><input name="editCustomer"
						id="editCustomer" type="submit" placeholder="edit Customer"
						[disabled]="editCustomerFrom.invalid"
						(click)="saveEditedCustomer()" onClick="history.go(0)">
						<div class="fix"></div></li>

				</ul>
			</fieldset>
		</form>



		</main>

		<footer>
			<ul id="address">
				<li>Veltkant 33a</li>
				<li>2550 Kontich</li>
				<li>Belgium</li>
				<li>Tel: +32 (0)475 27 43 57</li>
				<li>&nbsp;</li>
				<li>Copyright &copy; <script>
					document.write(new Date().getFullYear());
				</script> - Giel Blockx &#124; <a routerLink="../adminlogin"> Admin Login</a>
				</li>
			</ul>
		</footer>
	</div>
</body>